<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="D:/Code/part2">
        <classes>
            <class name="testcasesDay3.testcasesDay02.AddLoan"/>
            <class name="testcasesDay3.testcasesDay02.InvestFlow"/>
        </classes>
    </test>
</suite>